[package]
name = "client"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true

[dependencies]
types = { path = "../types" }

serde = { workspace = true }
reqwest = { workspace = true }
thiserror = { workspace = true }
