[package]
name = "cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true

[dependencies]
toml = { workspace = true }
dirs = { workspace = true }
serde = { workspace = true }
dotenvy = { workspace = true }
thiserror = { workspace = true }
